<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chends.media.picker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="com.chends.media.picker.ui.MediaPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPicker" />
    </application>
</manifest>
