<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chends.media.picker.preview">

    <application>
        <activity
            android:name=".ui.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPicker" />
        <provider
            android:name=".provider.PickerFileProvider"
            android:authorities="${applicationId}.picker_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>
</manifest>
